<div id="user_show" class="field row">
  <div class="medium-6 medium-centered columns">
    <% unless current_user.avatar_url.blank? %>
    <li><%= image_tag(current_user.avatar_url) %></li>
    <% end %>

    <h1> <%= @user.full_name %>'s Profile </h1>
    <li><%= @user.email %></li>
    <li>Member since: <%= @user.created_at %></li>
  </div>
</div>
<h3>Current Submissions:</h3>
<ul>
    <% @songs.each do |song| %>
    <li> <%= link_to song.title, song_path(song) %> </li>
  <% end %>
</ul>
<div class="row"><%= link_to 'Edit your profile', edit_user_registration_path, class: "expanded button" %></div>
