<% content_for :head do %>
  <%= javascript_include_tag 'songs/form' %>
<% end %>

<%= form_for @song do |f| %>

  <div class="form">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.attachment_field :audio, direct: true, presigned: true %>
    <progress value="0" max="100"></progress>
    <p id="file-name"></p>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-block btn-lg btn-primary" %>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12 top-buffer">
    <p>Preview</p>
    <%= render partial: 'waveform', locals: { song: @song } %>
  </div>
</div>
